$primary-col: #1e354e;
$secondary-col: #f5f5f5;
$sidebar-width: 300px;
#aps_navbar{
    background: $primary-col;
    color: $secondary-col;
    a{
        color: $secondary-col !important;
    }
    #title_bar_wrapper{
        max-width: $sidebar-width;
        justify-content: space-around;
        button{
            background: transparent;
            border: transparent;
            outline: none;
            color: $secondary-col;
            font-size: 1.4rem;
        }
    }
}
#aps_sidebar{
    max-width: $sidebar-width;
    background: $primary-col;
    color: $secondary-col;
    #aps_sidebar_items{
        a{
            padding-top: 20px;
            color:$secondary-col;
            border-bottom: 1px solid $secondary-col;
            &:hover{
                cursor: pointer;
            }
        }
        .aps_icons{
            font-size: 1.2rem;
            margin-left: 5px;
        }
    }
}
#aps_title{
    font-size: 1.5rem;
}